<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibale" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Projects</title>

    <!-- CSS files -->

    <link rel="stylesheet" type="text/css" href="/app/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/app/static/css/skin/color-1.css" >
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/4c265cdcbb.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="header projects">
        
        <!-- main-container start -->
        <div class="container">

        <nav>

            <img src="/app/static/images/logo-new.png" class="logo">
            <ul id="sidemenu">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#about"></i>About</a></li>
                <li><a href="index.html#services"></i>Services</a></li>
                <li><a href="my-projects.html"></i>Portfolio</a></li>
                <li><a href="index.html#contact"></i>Contact</a></li>
                <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>


<!-- --------- Portfolio ---------  -->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <br>
        <p class="auto-type"></p>
        <br>
        <div class="work-list">
            <div class="work">
                <img src="/app/static//images/my-works-02.jpg">
                <div class="layer">
                    <h3>AI Chatbot</h3>
                    <p>An AI chatbot is a computer program that simulates conversation with human users. 
                        It can be used for various purposes such as customer service, entertainment, or information gathering. 
                        AI chatbots can handle a large volume of interactions and understand and respond to a wide range of language. 
                        They can be integrated into different platforms and used for entertainment or education.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/app/static//images/my-works-05.jpg">
                <div class="layer">
                    <h3>Stock Price Prediction</h3>
                    <p>Stock price prediction is the use of machine learning algorithms to analyze historical stock data and make predictions about future stock price movements. 
                        A machine learning model is trained on a dataset of historical stock data and tested to evaluate its accuracy. 
                        Once trained, the model can be used to make predictions about future stock prices to help investors make informed decisions.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/app/static//images/my-works-07.jpg">
                <div class="layer">
                    <h3>Cat & Dog Classifier</h3>
                    <p>A cat and dog classifier is a machine learning model that is trained to identify and classify images of cats and dogs. 
                        It is created by collecting and preprocessing a dataset of labeled images, training a machine learning algorithm on the data, and testing the model to evaluate its accuracy. 
                        The classifier can then be used to classify new images of cats and dogs.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
            </div>
        </div>

        <div class="work-list">
            <div class="work">
                <img src="/app/static//images/my-works-02.jpg">
                <div class="layer">
                    <h3>AI Chatbot</h3>
                    <p>An AI chatbot is a computer program that simulates conversation with human users. 
                        It can be used for various purposes such as customer service, entertainment, or information gathering. 
                        AI chatbots can handle a large volume of interactions and understand and respond to a wide range of language. 
                        They can be integrated into different platforms and used for entertainment or education.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/app/static//images/my-works-05.jpg">
                <div class="layer">
                    <h3>Stock Price Prediction</h3>
                    <p>Stock price prediction is the use of machine learning algorithms to analyze historical stock data and make predictions about future stock price movements. 
                        A machine learning model is trained on a dataset of historical stock data and tested to evaluate its accuracy. 
                        Once trained, the model can be used to make predictions about future stock prices to help investors make informed decisions.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/app/static//images/my-works-07.jpg">
                <div class="layer">
                    <h3>Cat & Dog Classifier</h3>
                    <p>A cat and dog classifier is a machine learning model that is trained to identify and classify images of cats and dogs. 
                        It is created by collecting and preprocessing a dataset of labeled images, training a machine learning algorithm on the data, and testing the model to evaluate its accuracy. 
                        The classifier can then be used to classify new images of cats and dogs.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
            </div>
        </div>

    </div>
</div>

</div>


<!-- ------- footer -------  -->

<div class="copyright">
    <hr>
        <ul>
            <div class="social-icons">
                <a href="https://www.facebook.com/wajidmohamed.wajid?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/invites/contact/?i=14a6021l32mkc&utm_content=3issvjw"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abdul-wajid-28678519a"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </ul>
    <p>"Copyright © Wajith 2022. All rights reserved."</p>
</div>


   
    <!--JS files-->
    <script src="/app/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Explore the Wonders of Data Science, Machine Learning, and Artificial Intelligence"],
            typeSpeed: 5,
            loop:false,
            showCursor: false
        })
    </script>

    
</body>

</html>